@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

body {
    font-family: 'Secular One', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: 'Secular One', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Arimo', sans-serif;
}