
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
   
    height: 200vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.navbar{
    height: 10vh;
    background-color:#efa760;
    padding: 0.5rem;
}

.nav {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
   align-self: center;
    width: 30%;
 
}

.searchbar{
    display: flex;
    align-items: center;
     width: 30%;
    
 }
 

.right-container{
    width: 30%;
    display: flex;
    justify-content: space-around;
   
    align-items: center;
}

#searchbar-input{
    border-radius: 25px;
    border: none;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    padding: 0.4em;
    
}

.fa-solid{
    font-size: 20px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.option-container {
    height:30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    
   width: 15%;
    background-color:#efa760;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
}



:root{
    --white:#FFF;
    --black:#000;
    --dark:#1E1E1E;
    --gray:rgba(1,1,1,0.6);
    --lite:rgba(255,255,255,0.6);
    --primary:#efa760;
    --secondary:#fdc632;
}





* Seccion principal */
.container-main {
  margin: 4.25em auto 0 auto;
  max-width: 1320px;
  padding: 1em 0;
  position: relative;
}
/* Slider */
.main-slider {
  max-width: 720px;
  height: 500px;
  background-color: antiquewhite;
  position: relative;
}
.slider-imagenes {
  max-width: 720px;
  height: 100%;
  overflow: hidden;
  scroll-padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.slider-img {
  max-width: 720px;
  height: 100%;
  scroll-snap-align: center;
  border-radius: 3px;
  display: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.slider-img img {
  max-width: 720px;
  cursor: pointer;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}
.main-slider-active {
  scroll-snap-type: unset;
}
.slider-controles {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  transform: translate(0, -50%);
}
.slider-controles-previous,
.slider-controles-next {
  cursor: pointer;
  background-color: #264653;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-count-imagenes {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
}
.count-imagenes {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.count-imagenes-num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3a3a3a;
  cursor: pointer;
}
.count-imagenes-num.activo {
  background-color: #29998b;
  transform: scale(1.3);
}
.slider-img.activo {
  display: block;
  transition: width 2s;
}
/* Fin Slider */

/* Seccion principal - RESPONSIVE */
@media (max-width: 576px) {
  .container-main {
    margin: 6.6em auto 0 auto;
    max-width: 100%;
    padding: 1em 1em;
  }
  .main-slider {
    max-width: 100%;
    height: 500px;
  }
  .slider-img {
    max-width: 100%;
  }
  .slider-img img {
    max-width: 100%;
    width: 100%;
  }
  .slider-imagenes {
    max-width: 100%;
    width: 100%;
  }
  .categorias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) {
  .container-main {
    max-width: 540px;
  }
  .main-slider {
    max-width: 540px;
    height: 500px;
  }
  .slider-img {
    max-width: 540px;
  }
  .slider-img img {
    max-width: 540px;
    width: 540px;
  }
  .slider-imagenes {
    max-width: 540px;
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container-main {
    max-width: 720px;
  }
  .main-slider {
    max-width: 720px;
    height: 500px;
  }
  .slider-img {
    max-width: 720px;
  }
  .slider-img img {
    max-width: 720px;
    width: 720px;
  }
  .slider-imagenes {
    max-width: 720px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-main {
    max-width: 960px;
  }
  .main-slider {
    max-width: 960px;
    height: 500px;
  }
  .slider-img {
    max-width: 960px;
  }
  .slider-img img {
    max-width: 960px;
    width: 960px;
  }
  .slider-imagenes {
    max-width: 960px;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-main {
    max-width: 1140px;
  }
  .main-slider {
    max-width: 1140px;
    height: 500px;
  }
  .slider-img {
    max-width: 1140px;
  }
  .slider-img img {
    max-width: 1140px;
    width: 1140px;
  }
  .slider-imagenes {
    max-width: 1140px;
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-main {
    max-width: 1320px;
  }
  .main-slider {
    max-width: 1320px;
    height: 500px;
  }
  .slider-img {
    max-width: 1320px;
  }
  .slider-img img {
    max-width: 1320px;
    width: 1320px;
  }
  .slider-imagenes {
    max-width: 1320px;
    width: 1320px;
  }
}
@media (min-width: 1624px) {
  .container-main {
    max-width: 1500px;
  }
  .main-slider {
    max-width: 1500px;
    height: 500px;
  }
  .slider-img {
    max-width: 1500px;
  }
  .slider-img img {
    max-width: 1500px;
    width: 1500px;
  }
  .slider-imagenes {
    max-width: 1500px;
    width: 1500px;
  }
}
@media (min-width: 1904px) {
  .container-main {
    max-width: 1740px;
  }
  .main-slider {
    max-width: 1740px;
    height: 500px;
  }
  .slider-img {
    max-width: 1740px;
  }
  .slider-img img {
    max-width: 1740px;
    width: 1740px;
  }
  .slider-imagenes {
    max-width: 1740px;
    width: 1740px;
  }
}

/* Fin Seccion principal - RESPONSIVE */
/* ------------ */

/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/
footer{
    background-color:var(--primary);
    color:var(--lite);
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}


.carousel {

   display: flex;
   justify-content: center;
}