@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
   
    min-height: 200vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    height: 100%;
  
}

.navbar{
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(224,127,0);
    background: linear-gradient(90deg, rgba(224,127,0,1) 0%, rgba(252,176,69,1) 0%, rgba(251,107,48,1) 34%, rgba(251,104,47,1) 43%, rgba(250,38,26,1) 63%, rgba(250,38,26,1) 69%, rgba(251,34,27,1) 89%, rgba(253,29,29,1) 100%);
    padding: 0.5rem;
}

.nav {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
   align-self: center;
    width: 30%;
 
}

.searchbar{
    display: flex;
    align-items: center;
     width: 30%;
    
 }
 

.right-container{
    width: 30%;
    display: flex;
    justify-content: space-around;
   
    align-items: center;
}

#searchbar-input{
    border-radius: 25px;
    border: none;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    padding: 0.4em;
    
}

.fa-solid{
    font-size: 20px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.option-container {
    height:30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.option{
    
   width: 15%;
    background-color:#efa760;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
}



:root{
    --white:#FFF;
    --black:#000;
    --dark:#1E1E1E;
    --gray:rgba(1,1,1,0.6);
    --lite:rgba(255,255,255,0.6);
    --primary:#fb682f;
    --secondary:#fdc632;
}








/* Fin Seccion principal - RESPONSIVE */
/* ------------ */

/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

.btn_2:hover{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/***************************
               FOOTER
****************************/
footer{
    background: rgb(224,127,0);
    background-color: var(--primary);
    color:var(--lite);
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}


.product-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 8rem ;
   
   border-radius: 20px;
   margin-bottom: 2rem;
}

.product-image{
    height: 90%;
    width:60%;
  
}

.product-details{
   
    width: 45%;
    height: 90%;
    outline: 0px solid black;
}

.product-description{
    margin-top: 2rem;
    font-size: 2rem;
}

.product-price{
    color: var(--primary);
   margin-top: 2rem;
    font-size: 1.5rem;
}

.product-list-description li{
    font-size: 0.9rem;
}

.product-image img{
    height: 80%;
    width: 80%;
    object-fit:contain;
}

.cart-btn a{
    background-color: var(--primary);
    padding: 1.2rem;
    border-radius: 40px;
    
}

.cart-btn{
    margin: 3rem;   
}

.buynow-btn a{
    background-color: var(--primary);
    padding: 1.2rem;
    border-radius: 40px;
 
}


.product-review{
    margin-bottom: 3rem;
    text-align: center;
    border: 2px solid var(--primary);
   border-radius: 20px;
}
.product-review p{
    color: var(--primary);
    font-size: 2rem;
    
}

.logo a{
    font-size: 2.5rem;
    font-family: 'Shadows Into Light', cursive;
}